# Docker Compose PG
DB_NAME=""
DB_PASSWORD=""
DB_USER=""

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/crm_db"

ORIGIN="http://"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
